.background {
  background-image: url("../../../../asserts/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 830px;
}

.form-background {
  background-color: white;
}
